body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #004d40;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row; /* 오른쪽에 배치 */
  justify-content: space-between;
  margin: 20px auto;
  width: 80%;
}

.quiz-container {
  flex: 3;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  border-radius: 8px;
}

.answer-sheet {
  flex: 1;
  background-color: #e0f7da; /* 연한 연두색 */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.answer-sheet table {
  width: 100%;
  border-collapse: collapse;
}

.answer-sheet th, .answer-sheet td {
  border: 1px solid #ddd;
  padding: 8px;
}

.answer-sheet th {
  background-color: #388e3c; /* 녹색 */
  color: white;
  font-weight: bold;
}

.answer-sheet tr:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.answer-sheet td.selected span {
background-color: red; /* 빨간색 */
  color: black;
  font-weight: bold;
  padding: 0.5px 0.5px;
  border-radius: 100%;
}

.answer-sheet .question-number {
  background-color: #e0f7da; /* 연한 연두색 */
  color: black; /* 검은색 글씨 */
  font-weight: bold;
}

button {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;  /* 버튼 사이의 간격을 위한 마진 */
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;  /* 글자 굵게 */
}

button:hover {
  background-color: #45a049;
}

.buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between; /* 버튼들을 양쪽 끝으로 정렬 */
}

.prev-button {
  margin-right: auto;
}

.next-button {
  margin-left: auto;
}

.submit-button {
  width: 100%;
  background-color: #388e3c;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

/* 기존 스타일은 유지 */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question, .answer-sheet {
  flex: 1;
  margin: 10px;
}

/* 모바일 화면용 미디어 쿼리 */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .question {
      order: 1;
  }

  .answer-sheet {
      order: 2;
      flex: 0 1 30%;
  }

  .answer-sheet table {
      width: 100%;
      font-size: 0.8em; /* 글자 크기를 작게 조정 */
  }

  .answer-sheet th, .answer-sheet td {
      padding: 5px;
      text-align: center;
  }

  .answer-sheet button.submit-button {
      width: 100%;
  }

  .question, .answer-sheet {
      margin: 5px; /* 모바일에서 마진을 줄임 */
  }
}

/* 추가적인 스타일 조정 */
@media (max-width: 480px) {
  .answer-sheet {
      flex: 0 1 20%; /* 더 작은 화면에서 답안 표기란의 비율을 줄임 */
  }

  .question {
      flex: 0 1 80%; /* 더 작은 화면에서 문제 화면의 비율을 늘림 */
  }

  .answer-sheet table {
      font-size: 0.7em; /* 더 작은 글자 크기 */
  }
}
